<!DOCTYPE html>
  <html>
  
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="msapplication-tap-highlight" content="no">
      <meta name="description" content="Lifer">
      <meta name="keywords" content="Lifer">
      <title>Lifer</title>

      <!-- Favicons-->
      <link rel="icon" href="../../images/favicon/favicon-32x32.png" sizes="32x32">
      
      <!-- For iPhone -->
      <link rel="apple-touch-icon-precomposed" href="../../images/favicon/apple-touch-icon-152x152.png">

      <!-- For Windows Phone -->
      <meta name="msapplication-TileColor" content="#00bcd4">
      <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
      
      <!-- CORE CSS-->
      <link href="bundles/app/lib/css/materialize.css" type="text/css" rel="stylesheet">
      <link href="bundles/app/lib/css/style.css" type="text/css" rel="stylesheet">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
<!--       <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/> -->
    </head>

    <style>
      * {
          margin: 0;
          padding: 0;
        }


    </style>


    <body class="layout-semi-dark loaded">

         <!-- Loader  -->     
        <div id="loader-wrapper">
          <div id="loader"></div>
          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
        </div>


<header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">

         
          </div>
        </nav>
      </div>
    </header>



<div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">

        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container">


            <div class="section">
                 <div class="row s12">
                  <div class="col s6">1</div>
                  <div class="col s6">2</div>
                </div>
              <div class="divider"></div>
            </div>






            


          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
 
      </div>
      <!-- END WRAPPER -->
    </div>








    <footer class="page-footer">
   
            <div class="container">

                <div class="row s12">
                  <div class="col s4">
                    <!-- Floating Action Button -->
                    <div class="fixed-action-btn" style="bottom: 19px; left: 19px; width : 50px">
                      <a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow">
                        <i class="material-icons">add</i>
                      </a>
                      <ul>
                        <li>
                          <a href="css-helpers.html" class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
                            <i class="material-icons">help_outline</i>
                          </a>
                        </li>
                        <li>
                          <a href="cards-extended.html" class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
                            <i class="material-icons">widgets</i>
                          </a>
                        </li>
                        <li>
                          <a href="app-calendar.html" class="btn-floating amber" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
                            <i class="material-icons">today</i>
                          </a>
                        </li>
                        <li>
                          <a href="app-email.html" class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
                            <i class="material-icons">mail_outline</i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- Floating Action Button -->
                  </div>
                  <div class="col s2">2</div>
                  <div class="col s2">3</div>
                  <div class="col s2">4</div>
                  <div class="col s2">5</div>
                </div>

              <input type="text" name="Search" class=" z-depth-2" placeholder="Recherche">

            </div>
         
        </footer>


        <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">   
        </script>


        <script src="{{ asset('build/app.js') }}"></script>

        <script type="text/javascript" src="bundles/app/lib/js/materialize.min.js"></script>

    </body>

  </html>
