<!DOCTYPE html>
  <html>
  
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="msapplication-tap-highlight" content="no">
      <meta name="description" content="Lifer">
      <meta name="keywords" content="Lifer">
      <title>Lifer</title>

      <!-- Favicons-->
      <link rel="icon" href="../../images/favicon/favicon-32x32.png" sizes="32x32">
      
      <!-- For iPhone -->
      <link rel="apple-touch-icon-precomposed" href="../../images/favicon/apple-touch-icon-152x152.png">

      <!-- For Windows Phone -->
      <meta name="msapplication-TileColor" content="#00bcd4">
      <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
      
      <!-- CORE CSS-->
      <link href="bundles/app/lib/css/materialize.css" type="text/css" rel="stylesheet">
      <link href="bundles/app/lib/css/style.css" type="text/css" rel="stylesheet">
      <link href="bundles/app/lib/css/sweetalert.css" type="text/css" rel="stylesheet">

      <link href="bundles/app/lib/themes/proton/style.min.css" rel="stylesheet">
      <link href="bundles/app/lib/css/jquery.nestable.css" rel="stylesheet">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
<!--       <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/> -->
    </head>

    <style>
      * {
          margin: 0;
          padding: 0;
        }


    </style>


    <body class="loaded">


        <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">   
        </script>


        <script src="{{ asset('build/app.js') }}"></script>

        <script type="text/javascript" src="bundles/app/lib/js/materialize.min.js"></script>

        <script type="text/javascript" src="bundles/app/lib/js/sweetalert.min.js"></script>
        <script type="text/javascript" src="bundles/app/lib/js/jquery.nestable.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>


        <script type="text/javascript">
          
          $(document).ready(function()
{


    $('#nestable3').nestable();

});


          
            $('#add-object').click(function() {
              swal({
                  title: "An input!",
                  text: 'Write something interesting:',
                  type: 'input',
                  showCancelButton: true,
                  closeOnConfirm: false,
                  animation: "slide-from-top",
                  inputPlaceholder: "Write something",
                },
                function(inputValue) {
                  if (inputValue === false) return false;

                  if (inputValue === "") {
                    swal.showInputError("You need to write something!");
                    return false;
                  }

                  swal("Nice!", 'You wrote: ' + inputValue, "success");

                });
            });


            $('input').on('keypress', (event)=> {
                    if(event.which === 13){
                       alert("c'est good");
                    }
            });

        </script>
    </body>

  </html>
