<!DOCTYPE html>
  <html>
  
    <head>

      


      <meta charset="utf-8" />
      <title>Lifer</title>
<!--       <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/> -->
    </head>

    <style>
      * {
          margin: 0;
          padding: 0;
        }

/*      #divPhoto{
       visibility:hidden;
        position:absolute;
      }
      

      #divText{
    
        position:absolute;
    
      }*/
    </style>


    <body>
<!--       <div id="divPhoto">
      <input id='photo' type="file" accept="image/*" capture="camera">
      <img id='photoTmp' src=""  alt="Aperçu de l’image...">

      <div> -->


    </body>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">   
    </script>



    <script src="{{ asset('build/app.js') }}"></script>

  </html>
