<!DOCTYPE html>
  <html>
  
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
      


      <meta charset="utf-8" />
      <title>Lifer</title>
    </head>

    <style>
/*      * {
          margin: 0;
          padding: 0;
        }*/

    </style>


    <body>
      <div><input type="text" id="plugins4_q" value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;"></div>
        <div id="jstree_demo_div"></div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
      $(function () {


         $('#jstree_demo_div').jstree({
          'core' : {
            "check_callback" : true
          },
        "plugins" : [ "dnd", "search" , "types", "contextmenu" ]

         });

    
        $(document)
        // listen for events
        .on('dnd_start.vakata', function (e, data) {
            console.log('Dragged');
        })
        .on('dnd_stop.vakata', function (e, data) {
            console.log('Dropped');
              ref = $('#jstree_demo_div').jstree(true);
              parents = ref.get_node(data.element).parent;
              console.log(ref.get_node(data.element));
              console.log(parents);
        
            let formData = new FormData();

            //formData.append('jpg'  ,this.image);
            formData.append('node'  ,ref.get_node(data.element).id);

        formData.append('parent'  ,ref.get_node(data.element).parent);
        let AjaxSender = $.ajax({
              type: 'POST',
              url: 'dnd',
              data: formData,
              async: true,
              cache: false,
              contentType: false,
              processData: false
            });


        })


        $('#jstree_demo_div').on('create_node.jstree', function(e, data) {
            console.log('hi', data);
        });





        treeJSON = "";

        $.get( "children", function( data ) {
          treeJSON = JSON.parse(data);
          $('#jstree_demo_div').jstree(true).settings.core.check_callback = true;
          $('#jstree_demo_div').jstree(true).settings.core.data = treeJSON;
          $('#jstree_demo_div').jstree(true).refresh();
        });


          var to = false;
          $('#plugins4_q').keyup(function () {
            if(to) { clearTimeout(to); }
            to = setTimeout(function () {
              var v = $('#plugins4_q').val();
              $('#jstree_demo_div').jstree(true).search(v);
            }, 250);
          });



      });




    </script>

  </html>
