<!DOCTYPE html>
  <html>
  
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">

      <meta charset="utf-8" />
      <title>Lifer</title>
    </head>

    <style>
/*      * {
          margin: 0;
          padding: 0;
        }*/

    </style>


    <body>
      <div><input type="text" id="plugins4_q" value="" class="input" style=" display:block; padding:4px; border-radius:4px; border:1px solid silver;"></div>
        <div id="jstree_demo_div"></div>
        <div id="jstree_object_tree"></div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
      $(function () {














         $('#jstree_demo_div').jstree({
          'core' : {
            "check_callback" : true
                      },
                          "types" : {
                  "default" : {
                    "icon" : "glyphicon glyphicon-tree-deciduous"
                  },

                  "car" : {
                    "icon" : "fa fa-car"
                  },
                  "kitchen" : {
                    "icon" : "glyphicon glyphicon-apple"
                  },
                  "home" : {
                    "icon" : "glyphicon glyphicon-home"
                  }
                },
               "plugins" : [ "dnd", "search" , "types", "contextmenu" ]

         });

    
        $(document)
        // listen for events
        .on('dnd_start.vakata', function (e, data) {
            console.log('Dragged');
        })
        .on('dnd_stop.vakata', function (e, data) {
            console.log('Dropped');
              ref = $('#jstree_demo_div').jstree(true);
              parents = ref.get_node(data.element).parent;
              console.log(ref.get_node(data.element));
              console.log(parents);
        
            let formData = new FormData();

            //formData.append('jpg'  ,this.image);
            formData.append('node'  ,ref.get_node(data.element).id);

        formData.append('parent'  ,ref.get_node(data.element).parent);
        let AjaxSender = $.ajax({
              type: 'POST',
              url: 'dnd',
              data: formData,
              async: true,
              cache: false,
              contentType: false,
              processData: false
            });


        })

         $('#jstree_demo_div').on('rename_node.jstree', function(e, data) {
            console.log('remane');
                    let formData = new FormData();

            //formData.append('jpg'  ,this.image);
            formData.append('node'  ,data.node.id);

        formData.append('name'  ,data.node.text);
        let AjaxSender = $.ajax({
              type: 'POST',
              url: 'node/rename',
              data: formData,
              async: true,
              cache: false,
              contentType: false,
              processData: false,
               success: function(d){
                
              }
            });

         });
        

         $('#jstree_demo_div').on('delete_node.jstree', function(e, data) {

          console.log('remane');
                    let formData = new FormData();

            //formData.append('jpg'  ,this.image);
            formData.append('node'  ,data.node.id);

        formData.append('parent'  ,data.parent);
        let AjaxSender = $.ajax({
              type: 'POST',
              url: 'node/delete',
              data: formData,
              async: true,
              cache: false,
              contentType: false,
              processData: false,
               success: function(d){
                          $.get( "children", function( data ) {
                            treeJSON = JSON.parse(data);
                            $('#jstree_demo_div').jstree(true).settings.core.check_callback = true;
                            $('#jstree_demo_div').jstree(true).settings.core.data = treeJSON;
                            $('#jstree_demo_div').jstree(true).refresh();
                           // $('#jstree_demo_div').jstree("open_all");
                          });


              }
            });




         });


         $('#jstree_demo_div').on('select_node.jstree', function(e, data) {

            console.log('selection object');

             $('#jstree_object_tree').jstree({
              'core' : {
                "check_callback" : true
                          },
                              "types" : {
                      "default" : {
                        "icon" : "glyphicon glyphicon-tree-deciduous"
                      },

                      "car" : {
                        "icon" : "fa fa-car"
                      },
                      "kitchen" : {
                        "icon" : "glyphicon glyphicon-apple"
                      },
                      "home" : {
                        "icon" : "glyphicon glyphicon-home"
                      }
                    },
                   "plugins" : [ "dnd", "search" , "types", "contextmenu" ]

             });


               treeJSONObject = "";

                $.get( "object/tree/"+data.node.id, function( data ) {
                  treeJSONObject = JSON.parse(data);
                  $('#jstree_object_tree').jstree(true).settings.core.check_callback = true;
                  $('#jstree_object_tree').jstree(true).settings.core.data = treeJSONObject;
                  $('#jstree_object_tree').jstree(true).refresh();
                 // $('#jstree_demo_div').jstree("open_all");
                });


         });






        $('#jstree_object_tree').on('create_node.jstree', function(e, data) {
            console.log('hi', data);

            console.log($('#jstree_object_tree').jstree(true).get_top_selected('full')[0]);

        let formData = new FormData();

            //formData.append('jpg'  ,this.image);
            formData.append('nodeText'  ,data.node.text);
            formData.append('object'  ,$('#jstree_object_tree').jstree(true).get_top_selected('full')[0]);
        formData.append('parent'  ,data.parent);
        let AjaxSender = $.ajax({
              type: 'POST',
              url: 'object/tree/add',
              data: formData,
              async: true,
              cache: false,
              contentType: false,
              processData: false,
               success: function(d){
                 $('#jstree_object_tree').jstree(true).set_id(data.node, d);
              }
            });


        });





























        $('#jstree_demo_div').on('create_node.jstree', function(e, data) {
            console.log('hi', data);

        let formData = new FormData();

            //formData.append('jpg'  ,this.image);
            formData.append('node'  ,data.node.text);

        formData.append('parent'  ,data.parent);
        let AjaxSender = $.ajax({
              type: 'POST',
              url: 'node/add',
              data: formData,
              async: true,
              cache: false,
              contentType: false,
              processData: false,
               success: function(d){
                 $('#jstree_demo_div').jstree(true).set_id(data.node, d);
              }
            });


        });





        treeJSON = "";

        $.get( "children", function( data ) {
          treeJSON = JSON.parse(data);
          $('#jstree_demo_div').jstree(true).settings.core.check_callback = true;
          $('#jstree_demo_div').jstree(true).settings.core.data = treeJSON;
          $('#jstree_demo_div').jstree(true).refresh();
         // $('#jstree_demo_div').jstree("open_all");
        });


          var to = false;
          $('#plugins4_q').keyup(function () {
            if(to) { clearTimeout(to); }
            to = setTimeout(function () {
              var v = $('#plugins4_q').val();
              $('#jstree_demo_div').jstree(true).search(v);
            }, 250);
          });



      });




    </script>

  </html>
