<!DOCTYPE html>
  <html>
  
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
      


      <meta charset="utf-8" />
      <title>Lifer</title>
    </head>

    <style>
      * {
          margin: 0;
          padding: 0;
        }

    </style>


    <body>

        <div id="jstree_demo_div"></div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
      $(function () {


        treeJSON = "";

        $.get( "children", function( data ) {
          treeJSON = JSON.parse(data);
          $('#jstree_demo_div').jstree(true).settings.core.data = treeJSON;
          $('#jstree_demo_div').jstree(true).refresh();
        });



         $('#jstree_demo_div').jstree({
          'core' : {
              'data' : function (obj, callback) {
                  callback.call(this, treeJSON);
              }
        }}); 

      });




    </script>

  </html>
